body {
    overflow: hidden;
}

.tall {
    height: 100%;
}

.container {
    height: 100vh;
}

body .hidden {
    display: none;
    opacity: 0;
}

.center-inside {
    display: -webkit-flex;
    display:         flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.left-side {
    background-color: #58595B;
    padding-left: 20px;
    background-image: url("../img/corn-grey.jpg");
    background-size: cover;
}




/*
Stuff
*/

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 22px;
  background: white;
  position: absolute;
  display: block;
  content: '';
  top: 10px;
}
#nav-toggle span:before {
  top: -7px;
}
#nav-toggle span:after {
  top: 7px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 0.25s ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

/*
Nav Stuff
*/

.top-nav {
    font-family: "Montserrat", "Gotham", "Helvetica", sans-serif;
    margin-top: 20px;
    width: 300px;
}

.logo {
    position: relative;
    background-color: white;
    height: 70px;
    margin-bottom: 10px;
    z-index: 2;
    cursor: pointer;

    -webkit-transition: all 0.55s ease;
	-moz-transition: all 0.55s ease;
	transition: all 0.55s ease;
}

.logo:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    transform: scale(1.02);

    -webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.button-container {
    display: flex;
}

.nav-buttons {
    background-color: #3CE6AD;
    height: 50px;
    z-index: 2;

    -webkit-transition: all 0.55s ease;
	-moz-transition: all 0.55s ease;
	transition: all 0.55s ease;
}

.nav-toggle {
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    position: relative;
    -webkit-flex: none;
    flex: none;
    width: 50px;
    margin-right: 10px;
}

.nav-buttons:hover {
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    background-color: #38D9A3;
    transform: scale(1.03);

    -webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.nav-buttons.nav-toggle:hover {
    transform: scale(1.05);
}

#nav-scaler {
    border-radius: 50%;
    opacity: 0.8;
    z-index: 1;
    position: absolute;
    margin-top: 15px;
    margin-left: 10px;
    width: 10px;
    height: 10px;
    background-color: #3CE6AD;
    -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.35s ease;
	transition: all 0.35s ease;
}

.grow {
    transform: scale(300);

    -webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	transition: all 0.35s ease;
}

.order-button {
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
    cursor: pointer;
}

.order-button p {
    transform: scale(1);
    color: white;
    display: block;
    margin: 0;
    font-size: 1em;

    -webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.order-button div {
    opacity: 1;
    transform: scale(1);

    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 85%;

    -webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

svg {
    height: 100%;
}

.st0{fill:#F1F1F2;}
.st1{fill:#404041;}
.st2{fill:#3B3A3C;}
.st3{fill:#F1F1F1;}
.st4{fill:#FFFFFF;}
.st5{fill:#87AF9A;}
.st6{fill:#9CCCB2;}
.st7{fill:#3CE6AD;}
.st8{fill:#58595B;}
.st9{fill:#FFFFFF;stroke:#231F20;stroke-width:0.7067;stroke-miterlimit:10;}
.st10{fill:none;stroke:#231F20;stroke-width:2;stroke-miterlimit:10;}
.st11{fill:#F1F1F1;stroke:#FFFFFF;stroke-miterlimit:10;}
.st12{fill:#58595B;stroke:#58595B;stroke-miterlimit:10;}
.st13{fill:#3CE6AD;stroke:#3CE6AD;stroke-miterlimit:10;}

.white-cart {
    fill: #fff;
}

.order-button .order-hide {
    opacity: 0;
    transform: scale(0);

    -webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.nav-holder {
    position: relative;
    margin-top: 13px;
    margin-left: 14px;
}

.right-side {
    position: relative;
    z-index: 2;
    background-color: #F1F1F1;
}

.intro-text h4 {
}

.nav-buttons.white:hover {
    background-color: #ebf9f4;
}

.white {
    background-color: white;

    -webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.order-button .green-text {
    color: #3CE6AD;
}

nav {
    margin-top: 10vh;
    float: right;
    text-align: right;
    opacity: 1;
    transform: translate(0, 0) scale(1);
    -webkit-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s;
}

.hidden-nav {
    opacity: 0;
    transform:  scale(0.5);
    transform-origin: 10px 60px;

    -webkit-transition: all 0.20s ease-in-out 0s;
    transition: all 0.20s ease-in-out 0s;
}

nav {
    position: relative;
    z-index: 2;
}

nav ul {
    list-style: none;
    float: right;
}

nav li {
    cursor: pointer;
    text-align: right;
    padding-right: 0;
    float: right;
    font-style: italic;
    position: relative;
    z-index: 3;
    margin-right: 20%;
    text-decoration: none;
    color: white;
    font-size: 5.5em;
    display: block;
}

nav li::before {
    content: "";
    position: absolute;
    width: 105%;
    bottom: 25px;
    right: 0;
    height: 0;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.contact-button::before {
    width: 98%;
}

nav li:hover:before {
    bottom: 30px;
    height: 2px;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

nav li::after {
    position: absolute;
    z-index: 3;
    display: block;
    float: right;
    background-color: white;
    border-bottom: 0px solid orange;
    content: " ";
    width: 50px;
    height: 2px;
    top: 50%;
    right: -120px;
    z-index: 2;
    transition: all 0.25s ease-in;
}

.active-page-button {
    cursor: default;
    position: relative;
    z-index: 4;
}

.active-page-button::before {
    display: none;
}

.active-page-button::after {
    position: absolute;
    opacity: 0.7;
    z-index: 3;
    top: 0;
    width: 200%;
    height: 100%;
    transition: all 0.25s ease-in;
}


/*
Contact Page
*/

.left-content {
    position: absolute;
    z-index: 0;
    width: 46%;
    margin-top: 0;
    padding-top: 10vh;
}

.contact-info {
    font-family: "Montserrat", "Gotham", "Helvetica", sans-serif;
    color: white;
    width: 75%;
    margin-left: -10px;
}

.contact-info h2 {
    margin: 5px 0 5px 0;
    font-size: 2.2rem;
}

.contact-content {
    position: relative;
    z-index: -900;
}

.left-content-container {
    display: -webkit-flex;
    display:         flex;
    -webkit-justify-content: center;
    justify-content: center;
}

.map {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    background-color: white;
    border: 10px solid white;
    z-index: -100;
}

.phone, .email {
    font-family: "Montserrat", "Gotham", "Helvetica", sans-serif;
    color: #666;
    font-size: 2.4rem;
    margin-bottom: 30px;
}

.phone {
    margin: 0;
    font-size: 5rem;
}

/*
Menu Page
*/

.menu-content {
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display:         flex;
    -webkit-justify-content: center;
    justify-content: center;
}

.menu-nav {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 3;
}

.menu-nav ul {
    list-style: none;
    text-align: center;
    background-color: #3CE6AD;
    height: 85px;
}

.menu-nav li {
    cursor: pointer;
    background-color: #3CE6AD;
    padding: 30px 0;
    color: white;
    font-size: 1.6rem;
    font-family: "Montserrat", "Gotham", "Helvetica", sans-serif;
    -webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.menu-nav li:hover {
    background-color: #38D9A3;

    -webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

ul .active-menu {
    background-color: #38D9A3;

    -webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.menu-container {
    overflow-y: auto;
    overflow-x: auto;
    margin: 0 auto;
}

.menu-pane {
    opacity: 1;
    width: 100%;
    margin: 0 auto;
    margin-top: 85px;

    -webkit-transition: all 0.45s ease;
	-moz-transition: all 0.45s ease;
	transition: all 0.45s ease;
}

.menu-list {
    list-style: none;
    text-align: center;
    padding: 0 2%;
}

.menu-item {
    cursor: pointer;
    padding: 20px;
    transition: all 0.15s ease-in;
}

.menu-item:hover {
    background-color: #e5e5e5;
    cursor: pointer;
    padding: 20px;
}

.menu-item.selected-item {
    background-color: #ace6d3;
    transition: all 0.25s ease-in;
}

.menu-list h5{
    font-size: 1.9rem;
    margin-bottom: 8px;
    font-family: "Montserrat", "Gotham", "Helvetica", sans-serif;
}

.menu-list p {
    margin: 0 auto;
    font-style: italic;
    line-height: 1.35;
    font-size: 2rem;
    max-width: 400px;
}

.menu-section {
    color: #666;
    padding-top: 50px;
}

.menu-section h3 {
    text-align: center;
    font-size: 2.7rem;
    font-family: "Montserrat", "Gotham", "Helvetica", sans-serif;
}

.item-image {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    background-color: white;
    border: 10px solid white;
    z-index: -100;
}

.item-info {
    width: 80%;
    font-family: "Montserrat", "Gotham", "Helvetica", sans-serif;
    color: white;
    transform: translateY(0);

    -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.hide-info {
    transform: translateY(170%);

    -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.item-info h2 {
    margin: 15px 0 5px 0;
    font-size: 2.5rem;
}

.item-info h4 {
    margin: 8px 2px;
    font-size: 1.6rem;
    padding: 5px 10px;
    border: 2px solid white;
    display: inline-block;
}

/*
About Section
*/

.hunter-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 50%;

    transform: translateY(0);

    -webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.hunter {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

@media screen and (max-width: 1000px) {

    nav li:hover:before {
        bottom: 10px;
        height: 2px;
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }

    body {
        overflow-y: auto;
    }

    nav {
        width: 100%;
    }

    nav ul {
        width: 100%;
    }

    nav ul li::after{
        transform: rotateZ(90deg);
    }

    .tall {
        height: 50%;
    }

    .left-side, .right-side {
        height: 100%;
    }

    .right-side {
        z-index: 9;
        width: 100%;
    }

    nav ul li {
        display: inline-block;
        font-size: 4rem;
    }

    .active-page-button::after {
        position: absolute;
        opacity: 0.7;
        z-index: 3;
        top: 0;
        right: -55%;
        transform: rotateZ(0);
        width: 200%;
        height: 100%;
        transition: all 0.25s ease-in;
    }

    .intro-text {
        width: 90%;
        max-width: 600px;
    }

    .hunter-container {
        position: fixed;
        bottom: 50%;
        right: 0;
        left: auto;
        width: 50%;
    }

    .contact-info {
        position: fixed;
        right: 10%;
        top: 20px;
        width: 35%;
        margin-left: 0;
    }

}

@media screen and (max-width: 700px) {

    nav ul li::after{
        display: none;
    }

    nav ul li {
        display: block;
        width: 80%;
        font-size: 4rem;
        text-align: center;
    }

    .active-page-button::after {
        display: block;
        position: absolute;
        opacity: 0.7;
        z-index: 3;
        top: 0;
        right: -55%;
        transform: rotateZ(0);
        width: 200%;
        height: 100%;
        transition: all 0.25s ease-in;
    }

    .tall {
        height: 500px;
    }

    .contact-info {
        position: absolute;
        height: auto;
        top: 20px;
        left: 0;
        height: 300px;
        width: 300px;
        margin-left: 0;
    }

    .contact-content {
        width: 100%;
    }

    .contact-content .intro-text {
        margin-top: -5vh;
    }

    .left-content {
        padding-top: 20px;
        width: 85%;
    }

    .left-content-container {
        padding-top: 20px;
        width: 90%;
    }

    .left-content-container {
        display: inline-block;
        -webkit-justify-content: none;
        justify-content: none;
    }

    .hunter-container {
        position: fixed;
        bottom: 150px;

        width: 100%;
    }

    .contact-tall {
        height: 600px;
    }

    .contact-tall .right-side {
        height: 500px;
    }

    .about-tall {
        height: 400px;
    }

    .menu-tall .left-side {
        height: 550px;
    }

    .menu-tall .right-side {
        height: auto;
    }

    .about-tall .right-side {
        height: 520px;
    }

    .menu-nav li {
        width: 33%;
    }



    .index-tall {

    }

    .grow {
        transform: scale(170);

}
