body {
    overflow: hidden;
}

.tall {
    height: 100%;
}

.container {
    height: 100vh;
}

body .hidden {
    display: none;
    opacity: 0;
}

.center-inside {
    display: -webkit-flex;
    display:         flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.left-side {
    background-color: #58595B;
    padding-left: 20px;
    background-image: url("../img/corn-grey.jpg");
    background-size: cover;
}




/*
Stuff
*/

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 22px;
  background: white;
  position: absolute;
  display: block;
  content: '';
  top: 10px;
}
#nav-toggle span:before {
  top: -7px;
}
#nav-toggle span:after {
  top: 7px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 0.25s ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

/*
Nav Stuff
*/

.top-nav {
    font-family: "Montserrat", "Gotham", "Helvetica", sans-serif;
    margin-top: 20px;
    width: 300px;
}

.logo {
    position: relative;
    background-color: white;
    height: 70px;
    margin-bottom: 10px;
    z-index: 2;
    cursor: pointer;

    -webkit-transition: all 0.55s ease;
	-moz-transition: all 0.55s ease;
	transition: all 0.55s ease;
}

.logo:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    transform: scale(1.02);

    -webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.button-container {
    display: flex;
}

.nav-buttons {
    background-color: #3CE6AD;
    height: 50px;
    z-index: 2;

    -webkit-transition: all 0.55s ease;
	-moz-transition: all 0.55s ease;
	transition: all 0.55s ease;
}

.nav-toggle {
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    position: relative;
    -webkit-flex: none;
    flex: none;
    width: 50px;
    margin-right: 10px;
}

.nav-buttons:hover {

	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    background-color: #38D9A3;
    transform: scale(1.03);

    -webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.nav-buttons.nav-toggle:hover {
    transform: scale(1.05);
}

#nav-scaler {
    border-radius: 50%;
    opacity: 0.7;
    z-index: 1;
    position: absolute;
    margin-top: 15px;
    margin-left: -45px;
    width: 10px;
    height: 10px;
    background-color: #3CE6AD;
    -webkit-transition: all 0.20s ease;
	-moz-transition: all 0.20s ease;
	transition: all 0.20s ease;
}

.grow {
    transform: scale(300);
    height: 100vh;

    -webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	transition: all 0.35s ease;
}

.order-button {
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
}

.order-button p {
    color: white;
    display: block;
    margin: 0;
    font-size: 1em;
}

.nav-holder {
    position: relative;
    margin-top: 13px;
    margin-left: 14px;
}

.right-side {
    position: relative;
    z-index: 2;
    background-color: #F1F1F1;
}

.intro-text h4 {
}

.nav-buttons.white:hover {
    background-color: #ebf9f4;
}

.white {
    background-color: white;

    -webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.order-button .green-text {
    color: #3CE6AD;
}

nav {
    margin-top: 10vh;
    float: right;
    text-align: right;
    opacity: 1;

    -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    transform: translate(0, 0) scale(1);
}

.hidden-nav {
    opacity: 0;
    transform: translate(-200%, -55%) scale(0.1);


    -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

nav {
    position: relative;
    z-index: 2;
}

nav ul {
    list-style: none;
    float: right;
}

nav li {
    cursor: pointer;
    text-align: right;
    padding-right: 0;
    float: right;
    font-style: italic;
    position: relative;
    z-index: 3;
    margin-right: 20%;
    text-decoration: none;
    color: white;
    font-size: 5.5em;
    display: block;
}

nav li::before {
    content: "";
    position: absolute;
    width: 105%;
    bottom: 25px;
    right: 0;
    height: 0;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.contact-button::before {
    width: 98%;
}

nav li:hover:before {
    bottom: 30px;
    height: 2px;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

nav li::after {
    position: absolute;
    z-index: 3;
    display: block;
    float: right;
    background-color: white;
    border-bottom: 0px solid orange;
    content: " ";
    width: 50px;
    height: 2px;
    top: 50%;
    right: -120px;
    z-index: 2;
}

.active-page-button {
    cursor: default;
    position: relative;
    z-index: 4;
}

.active-page-button::before {
    display: none;
}

.active-page-button::after {
    position: absolute;
    opacity: 0.7;
    z-index: 3;
    top: 0;
    width: 200%;
    height: 100%;

}


/*
Contact Page
*/

.left-content {
    position: absolute;
    z-index: 0;
    width: 46%;
    margin-top: 0;
    padding-top: 50px;
}

.contact-content {
    position: relative;
    z-index: -900;
    width: 100%;
}

.left-content-container {

}

.map {
    position: relative;
    float: right;
    width: 100%;
    margin: 0 auto;
    height: 500px;
    background-color: white;
    border: 10px solid white;
    z-index: -100;
}
